.center {
  text-align: center;
}
.flexbox {
  display: flex;
  height: 300px;
  width: 800px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px beige;
}
div img {
  height: 300px;
  width: 200px;
}
.flexbox h2 {
  color: rgb(43, 139, 125);
}
span {
  color: rgb(43, 139, 125);
}
.stock {
  color: rgb(144, 144, 144);
}
.loading {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.loading img {
  width: 80px;
  height: 80px;
}
