.title {
  font-size: 35.2px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navFlex {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 5px;
  font-size: 24px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 90px;
  padding-left: 0px;
}
.ul {
  margin-top: 15px;
}
.li {
  cursor: pointer;
  list-style: none;
  color: blueviolet;
}
a {
  text-decoration: none;
}
li button {
  background-color: #242424;
  border-color: none;
  border: none;
  border-radius: 15px;
  color: blueviolet;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}
li button:hover {
  border: 0.5px;
  background-color: #242424;
  box-shadow: 1px 5px 20px rgba(0, 70, 73, 0.619);
  transition: 1s;
}
